/PP/TP_A/Codes_du_TP/Mandelbrot/TP1_A/nbproject/private/
/PP/TP_A/Codes_du_TP/Mandelbrot/TP1_A/build/
/PROG_PAR/cours 1/Codes_du_TP/Mandelbrot/Mandelbrot/nbproject/private/
/PROG_PAR/cours 1/Codes_du_TP/Mandelbrot/Mandelbrot/build/
/XML/TP2/xmlTp2/nbproject/private/
/ARO/TP2/sacAdos/sacAdos/nbproject/private/
/ARO/TP2/sacAdos/sacAdos/build/
/ARO/TP2/sacAdos/sacAdos/dist/
/BD/TP1/TP1/nbproject/private/
/BD/TP1/TP1/build/
/PROG_PAR/cour2/TP2/nbproject/private/
/PROG_PAR/cour2/TP2/build/